{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container-fluid Intro row">
    <div class="col-lg-6 d-flex justify-content-center">
        <img src="static/photo.png" alt="">
    </div>
    <div class="col-lg-6">
        <h1 class="title text-center">Aung Myat Thu Store</h1>
        <p class="">This Website is specially designed for Admins or Shop Owner to keep track of the sold and imported
            items to the shop. I hope this can give the most usefulness for you.</p>
    </div>
</div>
{% endblock %}
{% include "footer.html" %}